@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.sign-in{
  padding: 4px 24px;
    background-color: transparent;
    border: 1px solid #006A50;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    color: green;
}
body{
 width: 90%;
  padding: 18px 32px;
  margin: 0 auto;
  font-family: "Inter", serif;
background-color: rgb(243, 240, 240);
}

nav{
display: flex;
justify-content: space-between;
}
nav p{
  font-size: 22px;
  font-weight: bolder;
  font-family: "Inter", serif;
}
.container{
  width: 100%;
  height: 500px;
  display: flex;
  background-color: #529786;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
  border-radius: 8px;
}
.container h1{
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter", serif;
  }
.container .hero-img img{
    width: 80%;
  }
.title{
  align-items: center;
  width: 622px;
  gap: 20px;
  margin-left: 120px;
}
.sub-title{
  font-size: 22px;
  font-weight: bold;
  color: #635c5c;
  font-family: "Inter", serif;
}
.btn{
  background-color: #006A50;
  color: white;
  padding: 12px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 8px;
  border: none;
  font-family: "Inter", serif;
}
/* pillars style */
.Pillar-container{
  display: flex;
  margin-bottom: 20px;
  width: 1280px;
}
.pillar{
  width: 320px;
  background-color: #F1F1F3;
  border: 295px;
  block-size: auto;

}
/* vision style */
.vision-container{
  display: flex;
  gap: 40px;
}