@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.sign-in{
  padding: 4px 24px;
    background-color: transparent;
    border: 1px solid #006A50;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    color: green;
}
body{
 width: 90%;
  padding: 18px 32px;
  margin: 0 auto;
  font-family: "Inter", serif;
background-color: rgb(243, 240, 240);
}

nav{
display: flex;
justify-content: space-between;
}
nav p{
  font-size: 22px;
  font-weight: bolder;
  font-family: "Inter", serif;
}
.container{
  width: 100%;
  height: 500px;
  display: flex;
  background-color: #529786;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
  border-radius: 8px;
}
.container h1{
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter", serif;
  }
.container .hero-img img{
    width: 80%;
  }
.title{
  align-items: center;
  width: 622px;
  gap: 20px;
  margin-left: 120px;
}
.sub-title{
  font-size: 22px;
  font-weight: bold;
  color: #635c5c;
  font-family: "Inter", serif;
}
.btn{
  background-color: #006A50;
  color: white;
  padding: 12px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 8px;
  border: none;
  font-family: "Inter", serif;
}

/* pillars style */

.pillar-section{
    margin-top: 80px;
}
.Pillar-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 40px;
}
.pillar-section h2{
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter", serif;
    margin-top: 30px 0px;
}
.Pillar-container .pillar{
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 10px 97px -3px rgba(0,0,0,0.1);
    text-align: left;
    padding: 20px;
    font-family: "Inter", serif;
  }

  .pillar img{
    margin-bottom: 4px;
  }

  .pillar h4{
    margin-bottom: 4px;
  }
  .pillar p{
    margin-bottom: 4px;
    font-size: 14px;
    color: gray;
  }

/* vision style */
.vision-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 40px;
}
.vision-section{
  margin-top: 80px;
}
  .vision-section h2{
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter", serif;
    margin-top: 30px 0px;
    margin-bottom: 12px;
  }

  .vision-section p{
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
   
  }
.vision-container .vision{
    background-color: white;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 10px 97px -3px rgba(0,0,0,0.1);
    text-align: left;
    padding: 20px;
    font-family: "Inter", serif;
}
.vision-container .clr1{
    background-color: #91b5e7;
  }
.vision-container .clr2{
    background-color: #D5D6D8;
  }
.vision-container .clr3{
    background-color: #e9d18f;
  }
.vision h4{
    margin-bottom: 4px;
  }

.vision p{
    margin-bottom: 12px;
  }

  .vision button{
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 8px;
    border: none;
    font-family: "Inter", serif;
  }

  .vision .bclr1{
    background-color: #5997ec; 
  }
  .vision .bclr2{
    background-color: #28e978;
  }
  .vision .bclr3{
    background-color: #ebba35;
  }

  /* quote-section */

  .quote-section{
  margin-top: 80px;
  position: relative;
}

.quote-section h3{
  padding: 6px 0px;
  font-weight: bold;
}
.quote-section img{
  position: absolute;
  width: 60px;
  top: -24px;
}
.quote-section p{
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
}

/* opinion-section */

.opinion-section{
    margin-top: 80px;
  }

  .opinion-section h2{
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter", serif;
    margin-top: 30px 0px;
    margin-bottom: 12px;
    text-transform: capitalize;
  }
  .opinion-area{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
  }


  .opinion-area .opinion-line{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
  }
  .opinion-area .heading-opinion-line{
    background-color: #a9e6c2;
    padding: 16px;
    border-radius: 4px;
    text-transform: capitalize;
    
  }
  .opinion-area .opinion-line select{
    width: 110px;
    height: 30px;
    font-weight: bold;
  }

  /* recent-section  */

  .recent-section{
    margin-top: 80px;
  }
  .recent-section h2{
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter", serif;
    margin-top: 30px 0px;
    margin-bottom: 12px;
    text-transform: capitalize;
  }
  .recent-section p{
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
  }

  .recent-card{
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #fff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 6px;
   text-align: left;
  }
  .recent-card img{
    border-radius: 15px; 
  }
.recent-sub-title{
    font-weight: bold;
    margin: 16px 0px;
    text-transform: capitalize;
  }
  .recent-area .date{
    font-size: 12px;
    margin-bottom: 8px;
  }
  .recent-area .para{
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
  }
  .recent-area button{
    color: white;
    background-color: #006A50;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 8px;
    border: none;
    font-family: "Inter", serif;
  }
  .recent-card .right-area img{
    margin-bottom: 20px;
  }

  /* donate-section */

  .donate-section{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .donate-section h2{
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter", serif;
    margin-top: 30px 0px;
    margin-bottom: 12px;
    text-transform: capitalize;
  }
  .donate-para{
    text-align: center;
    margin-bottom: 40px;
  }
  .donate-cards{
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  .donate-card{
    padding: 40px;
    background-color: white;
    font-size: 32px;
    font-weight: bold;
    border-radius: 8px;
  }
  .donate-section .amount{
    width: 80%;
    margin: 20px 0px;
  }
  .amount input{
    width: 100%;
    padding: 12px;
    font-size: 22px;
    border: none;
    text-align: center;
    text-transform: capitalize;
    opacity: 0.6;
  }
  .donate-section button{
    color: white;
    background-color: #006A50;
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 8px;
    border: none;
    font-family: "Inter", serif;
  }

  .donate-section .clrAnother{
    background-color: #a9e6c2;
  }

  /* subs-section */

  .subs-section{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a9e6c2;
    padding-top: 50px;
    border-radius: 12px;
  }
  .subs-section h2{
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter", serif;
    margin-top: 30px 0px;
    margin-bottom: 12px;
    text-transform: capitalize;
  }
  .subs-section p{
    text-align: center;
    margin-bottom: 40px;
  }
  .subs-inp-area{
    display: flex;
    width: 70%;
    padding: 8px;
    margin-left: 200px;
  }
  .subs-inp-area input{
    width: 60%;
    border: none;
    padding: 8px;
    font-size: 14px;
  }
  .subs-button{
    padding: 12px 18px;
    background-color: #006A50;
    color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .subs-section .promise{
    margin-top: 8px;
    font-size: 14px;
  }

  /* footer section */

  footer{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 30px 0px;
    margin-bottom: 50px;
  }
  footer h2{
    width: 75%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
  }
  footer .images{
    margin-top: 20px;
  }
  footer .images img{
    padding: 0px 6px;
  }
